
button{
  color:white;
}
.hamb {
    position: relative;
    margin-right: -.625rem;
    border-width: 0px;
    background-color: transparent;
    padding: 0;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}
.hamb .ham {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.hamb .ham {
    height: 60px;
    width: 60px;
    cursor: pointer;
    transition-duration: .3s;
}
.hamb .ham .top {
    stroke-dasharray: 40 160;
}
.hamb .ham .middle {
    transform-origin: 50%;
    stroke-dasharray: 40 142;
}
.hamb .ham .bottom {
    transform-origin: 50%;
    stroke-dasharray: 40 85;
}
.hamb .line {
    fill: none;
    stroke: rgba(245, 245, 245, 0.678);
    stroke-width: 5;
    transition-duration: .3s;
    stroke-linecap: round;
}
.hamb.active svg {
    --tw-rotate: 45deg;
    transform: rotate(var(--tw-rotate));
}
.hamb.active svg .top {
    stroke-dashoffset: -64px;
}
.hamb.active svg .middle {
    --tw-rotate: 90deg;
    transform: rotate(var(--tw-rotate));
}
.hamb.active svg .bottom {
    stroke-dashoffset: -64px;
}

.navbar {
  z-index: 100; 
  transition: transform 0.5s ease-in-out;
  height: 4rem;
}

.hidden-navbar {
  transform: translateY(-100%);
}


@media (min-width: 768px) {
  .hidden-navbar {
    transform: none;
  }
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100%;
  background-color: hsl(var(--background));
  color: white;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5rem);
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 2s;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-bottom: 1px solid hsl(var(--border));
  z-index: 5;
}

.dropdown-menu.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  z-index: 100;
}

@media (min-width: 768px) {
  .dropdown-menu {
    display: none; 
  }
}

.link-5 {
  transition: 0.4s;
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
  padding: 6px 12px;
  margin: 0 5px;
  position: relative;
}
.link-5::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #ffffff;
  transition: all 0.4s;
}
.link-5:hover::before {
  width: 100%;
  left: 0;
}

.link-5:hover {
  color: #0f9cd8;
}


.link-5-active {
  transition: 0.4s;
  color: #0f9cd8;
  font-size: 1rem;
  text-decoration: none;
  padding: 6px 12px;
  margin: 0 5px;
  position: relative;
}

.link-5-active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
}
